In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import offsetbox
from sklearn import manifold, datasets, decomposition
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.manifold import TSNE

In [2]:
batters = pd.read_csv("batters_test.csv")

batters.dropna()
batters.head()

,Player,Country,Matches,innings,NO,Runs,HS,50s,100s,200s,AVG,Strike Rate,Ducks
0,Sachin Tendulkar,India,200,329,33,15921,248,68,51,6,53.79,54.08,14
1,Ricky pointing,Australia,168,287,29,13378,257,62,41,6,51.85,58.72,17
2,Jacque Kallis,South Africa,166,280,40,13289,224,58,45,2,55.37,45.98,16
3,Rahul Dravid,India,164,286,32,13288,270,63,36,5,52.41,42.51,8
4,Kumar Sangakkara,Sri Lanka,134,233,17,12400,319,52,38,11,57.41,54.19,11

In [3]:
#batting = []

#def batting_grade(batting): 
    
# Calculate grade based on runs
for i in range(len(batters['Runs'])):
    Runs = batters['Runs'][i]
    avg = batters['AVG'][i]
    strike_rate = batters['Strike Rate'][i]

    # Calculate grade based on runs
    if Runs >= 10000: 
        batters['Runs'][i] = 30 * 1
    elif 9000 <= Runs < 10000: 
        batters['Runs'][i] = 30 * 0.92
    elif 8000 <= Runs < 9000: 
        batters['Runs'][i] = 30 * 0.87
    elif 7000 <= Runs < 8000: 
        batters['Runs'][i] = 30 * 0.79
    elif 6000 <= Runs < 7000: 
        batters['Runs'][i] = 30 * 0.68
    elif 5000 <= Runs < 6000: 
        batters['Runs'][i] = 30 * 0.60
    elif 4000 <= Runs < 5000: 
        batters['Runs'][i] = 30 * 0.53
    elif 3000 <= Runs < 4000:
        batters['Runs'][i] = 30 * 0.40
    elif 2000 <= Runs < 3000: 
        batters['Runs'][i] = 30 * 0.27
    elif 1000 <= Runs < 2000: 
        batters['Runs'][i] = 30 * 0.15
    else: 
        batters['Runs'][i] = 30 * 0.05

    # Calculate grade based on strike rate
    if strike_rate >= 90.00: 
        batters['Strike Rate'][i] = 20 * 1
    elif 80.00 <= strike_rate < 90.00: 
        batters['Strike Rate'][i] = 20 * 0.92
    elif 70.00 <= strike_rate < 80.00: 
        batters['Strike Rate'][i] = 20 * 0.78
    elif 65.00 <= strike_rate < 70.00: 
        batters['Strike Rate'][i] = 20 * 0.70
    elif 60.00 <= strike_rate < 65.00: 
        batters['Strike Rate'][i] = 20 * 0.65
    elif 55.00 <= strike_rate < 60.00: 
        batters['Strike Rate'][i] = 20 * 0.60
    elif 50.00 <= strike_rate < 55.00: 
        batters['Strike Rate'][i] = 20 * 0.53
    elif 45.00 <= strike_rate < 50.00: 
        batters['Strike Rate'][i] = 20 * 0.45
    elif 40.00 <= strike_rate < 45.00: 
        batters['Strike Rate'][i] = 20 * 0.32
    elif 30.00 <= strike_rate < 40.00: 
        batters['Strike Rate'][i] = 20 * 0.20
    else: 
        batters['Strike Rate'][i] = 20 * 0.10

    # Calculate grade based on average
    if avg >= 50.00: 
        batters['AVG'][i] = 35 * 1
    elif 45.00 <= avg < 50.00: 
        batters['AVG'][i] = 35 * 0.90
    elif 40.00 <= avg < 45.00: 
        batters['AVG'][i] = 35 * 0.78
    elif 35.00 <= avg < 40.00: 
        batters['AVG'][i] = 35 * 0.61
    elif 30.00 <= avg < 35.00: 
        batters['AVG'][i] = 35 * 0.48
    elif 25.00 <= avg < 30.00: 
        batters['AVG'][i] = 35 * 0.28
    elif 20.00 <= avg < 25.00: 
        batters['AVG'][i] = 35 * 0.15
    else: 
        batters['AVG'][i] = 35 * 0.05

# Calculate the batter grade
batters_grade = (batters['Runs'] + batters['AVG'] + batters['Strike Rate'] - (batters['Ducks'] * 0.07) + (batters['50s'] * 0.05) + (batters['100s'] * 0.10) + (batters['200s'] * 0.15))

# Add the batter grade to the DataFrame
batters["batters_grade"] = batters_grade

In [4]:
print(batters)

               Player       Country  Matches  innings  NO  Runs   HS  50s  \
0    Sachin Tendulkar         India      200      329  33    30  248   68
1      Ricky pointing    Australia       168      287  29    30  257   62
2       Jacque Kallis  South Africa      166      280  40    30  224   58
3        Rahul Dravid         India      164      286  32    30  270   63
4    Kumar Sangakkara     Sri Lanka      134      233  17    30  319   52
..                ...           ...      ...      ...  ..   ...  ...  ...
102  Dinesh Chandimal     Sri Lanka       74      133  15    18  206   25
103     Misbah-ul-Haq      Pakistan       75      132  20    18  161   39
104        Ian Botham       England      102      161   6    18  208   22
105        Tom Latham   New Zealand       74      130   6    18  264   27
106        Dean Elgar  South Africa       84      149  11    18  199   23

     100s  200s    AVG  Strike Rate  Ducks  batters_grade
0      51     6  35.00         10.6     14          84.02
1      41     6  35.00         12.0     17          83.91
2      45     2  35.00          9.0     16          80.58
3      36     5  35.00          6.4      8          78.34
4      38    11  35.00         10.6     11          82.88
..    ...   ...    ...          ...    ...            ...
102    14     1  27.30          9.0      5          56.75
103    10     0  31.50          6.4      9          58.22
104    14     1  16.80         13.0     14          49.47
105    13     2  27.30          9.0     10          56.55
106    13     0  21.35          9.0     13          49.89

[107 rows x 14 columns]

In [5]:
batters['batters_grade'].rank()

0      107.0
1      105.0
2      100.0
3       96.0
4      103.0
       ...
102     22.0
103     30.0
104      8.0
105     18.0
106      9.0
Name: batters_grade, Length: 107, dtype: float64

In [6]:
batters.tail()

,Player,Country,Matches,innings,NO,Runs,HS,50s,100s,200s,AVG,Strike Rate,Ducks,batters_grade
102,Dinesh Chandimal,Sri Lanka,74,133,15,18,206,25,14,1,27.30,9.0,5,56.75
103,Misbah-ul-Haq,Pakistan,75,132,20,18,161,39,10,0,31.50,6.4,9,58.22
104,Ian Botham,England,102,161,6,18,208,22,14,1,16.80,13.0,14,49.47
105,Tom Latham,New Zealand,74,130,6,18,264,27,13,2,27.30,9.0,10,56.55
106,Dean Elgar,South Africa,84,149,11,18,199,23,13,0,21.35,9.0,13,49.89

In [7]:


# Sort the dataframe based on 'batting grade' column in descending order
sorted_batters = batters.sort_values(by='batters_grade', ascending=False)

# Iterate through the sorted dataframe and print out the names and batting grades
for index, row in sorted_batters.iterrows():
    player = row['Player']
    grade = round(row['batters_grade'], 2)
    print(f"{player}: {grade}")

Sachin Tendulkar: 84.02
Brain Lara: 83.96
Ricky pointing: 83.91
Viv Richards: 83.8
Kumar Sangakkara: 82.88
Joe root : 82.81
Sunil Gavaskar: 82.41
Jacque Kallis: 80.58
Younis Khan: 80.22
Virender Sehwag: 79.58
Gary Sobers: 78.56
Rahul Dravid: 78.34
Steve Waugh: 78.31
Mahela Jayawardene: 78.0
Javed Miandad: 77.93
Matthew hayden : 77.77
Steve Smith : 77.62
David Warner: 76.96
Shivnarine Chanderpaul: 76.95
Allan Border: 76.78
Allister Cook: 76.77
Kane Williamson: 76.25
AB De Villiers: 75.84
Don Bradman : 75.46
Graeme Smith : 75.08
Kevin Pieterson: 74.3
Virat Kolhi: 73.77
Michael Clarke: 73.62
Mohammad Yousuf: 72.48
Greg Chappell: 72.31
Inzamam-ul-Haq: 72.15
Hashim Amla: 72.04
Ken Barrington: 71.55
Leonard Hutton: 70.8
VVS Laxman: 70.32
Adam Gilchrist: 70.07
Clive Lloyd: 68.82
Justin Langer: 68.58
Herbert Sutcliffe: 68.21
Michael Hussey : 68.11
Denis Compton: 67.7
David Gower: 67.46
Mohammad Azharuddin: 67.4
Mark Waugh: 66.92
Gordon Greenidge: 66.73
Angelo Matthews: 66.7
Doug Walters: 66.67
Everton Weekes: 66.33
Chris Gayle: 66.05
Graham Gooch: 65.99
Ross Taylor: 65.42
Geoff Boycott: 65.25
Jack Hobbs: 64.77
Gary Kirsten: 64.24
Wally Hammond: 64.17
Bill Lawry: 64.03
Sanath Jayasuriya: 63.65
Sourav Ganguly: 63.49
Ian bell: 62.97
Gundappa Viswanath: 62.9
Desmond Haynes: 62.35
Aravinda De silva: 62.21
Stephen Fleming: 61.83
Andrew Strauss: 61.7
Dillip Vengsarkar: 61.7
Andy Flowers: 61.35
Tilakaratne Dilshan: 61.07
Thilan Samaraweera: 60.93
Mark Taylor: 60.55
Dimuth Karunaratne: 60.51
Herschelle Gibbs: 60.13
Chetesghwar Pujara: 59.96
Azhar Ali: 59.47
David Boon: 59.43
Marnus Labuschagne: 59.37
Graham Thorpe: 59.16
Alec Stewart: 59.12
Misbah-ul-Haq: 58.22
Saleem Malik: 58.16
Marcus Trescothick: 58.06
Martin Crowe: 58.02
Michael Vaughan: 57.97
Michael Slater: 57.87
Babar azam : 57.21
Ramnaresh Sarwan: 56.81
Dinesh Chandimal: 56.75
Brendon McCullum: 56.72
Richie Richardson: 56.69
Neil Harvey : 56.61
Tom Latham: 56.55
Rohan Kanhai: 56.21
Colin Cowdrey: 55.77
Ben Stokes: 53.22
Johnny Bairstow: 52.63
Carl Hooper: 51.84
Clyde Walcott: 51.28
Michael Atherton: 50.85
Mishfiqur Rahim : 50.26
Dean Elgar: 49.89
Ian Botham: 49.47
Nasser Hussain: 47.97
Marvan Atapattu: 47.56
Bruce Mitchell: 47.14
Frank Worrell: 47.03
Mark Boucher: 46.46
Kraigg Brathwaite: 42.83
Kapil Dev: 37.83

In [8]:
sorted_batters.head(10)

,Player,Country,Matches,innings,NO,Runs,HS,50s,100s,200s,AVG,Strike Rate,Ducks,batters_grade
0,Sachin Tendulkar,India,200,329,33,30,248,68,51,6,35.0,10.6,14,84.02
5,Brain Lara,West Indies,131,232,6,30,400,48,34,9,35.0,13.0,17,83.96
1,Ricky pointing,Australia,168,287,29,30,257,62,41,6,35.0,12.0,17,83.91
47,Viv Richards,West Indies,121,182,12,26,291,45,24,3,35.0,18.4,10,83.80
4,Kumar Sangakkara,Sri Lanka,134,233,17,30,319,52,38,11,35.0,10.6,11,82.88
8,Joe root,Engalnd,132,242,20,30,254,58,30,5,35.0,12.0,12,82.81
11,Sunil Gavaskar,India,125,214,16,30,236,45,34,4,35.0,12.0,12,82.41
2,Jacque Kallis,South Africa,166,280,40,30,224,58,45,2,35.0,9.0,16,80.58
12,Younis Khan,Pakistan,118,213,19,30,313,33,34,6,35.0,10.6,19,80.22
19,Virender Sehwag,India,104,180,6,26,319,32,23,6,31.5,18.4,16,79.58